@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= IMAGE PAGE ================= */
.login-image{
    height: 90vh;
}.login-image::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(90deg,rgba(255,255,255,0.18),rgba(255,255,255,0.04));
    z-index:1;
}

.login-slider{
    user-select:none;
}.login-slider-list{
    transition:transform 0.6s ease;
}

.login-dot{
    width:9px;
    height:9px;
    background: white;
    transition:background 0.3s,transform 0.3s;
}

.active-login-dot{
    background: blue;
    transform:scale(1.3);
}
