@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: oklch(54.6% 0.245 262.881);
    --secondary: #c2e1ff;
    --text-primary: #091540;
    --text-secondary: #C5C1C1;
    --green-prime: #7EC151;
    --red-prime: #DF301C;
    --grey-prime: #EEEEEE;
    --white-prime: #ffffff;
}

/* Ukuran Scrollbar */
::-webkit-scrollbar {
    width: 6px;  /* Lebar scrollbar vertikal */
    height: 6px; /* Tinggi scrollbar horizontal */
}

/* Jalur/Latar Belakang Scrollbar */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Batang/Gagang Scrollbar (Thumb) */
::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* Warna default (Light Mode) */
    border-radius: 10px; /* Membuat sudut membulat */
}

/* Batang saat di-hover */
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Dukungan untuk Dark Mode */
.dark ::-webkit-scrollbar-thumb {
    background: #475569; /* Warna saat Dark Mode */
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

html {
    box-sizing: border-box;
}
