@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: oklch(54.6% 0.245 262.881);
    --secondary: #c2e1ff;
    --text-primary: #091540;
    --text-secondary: #C5C1C1;
    --green-prime: #7EC151;
    --red-prime: #DF301C;
    --grey-prime: #EEEEEE;
    --white-prime: #ffffff;
}

html {
    box-sizing: border-box;
}

/* Header Nav */
.container-header {
    z-index: 80;
}

.form-search {
    transition: 0.5s ease;
}

/* Notif Menu */
.notif-btn {
    transition: background-color 0.3s ease;
}

.notif-dropdown {
    z-index: 50;
}

.notif-dropdown a {
    background-color: var(--white-prime);
    transition: background-color 0.3s ease;
}

.notif-dropdown a:hover {
    background-color: var(--grey-prime);
}

/* User Profile */
.user-profile {
    color: var(--primary);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Sidebar */
.container-sidebar {
    width: 246px;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    transition: width 0.5s ease;
    z-index: 100;
}

.container-sidebar.minimized {
    width: 100px;
}

.text-nav.minimized {
    display: none;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-item.minimized {
    justify-content: center;
    padding-left: 0;
}

.nav-item.active {
    background-color: var(--primary);
    color: var(--white-prime);
}

.nav-item.active svg {
    color: var(--white-prime);
}

.nav-item.active a {
    color: var(--white-prime);
}

.nav-item.active:hover {
    background-color: var(--primary);
    color: var(--white-prime);
}

.nav-sublist {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.nav-sublist.active {
    height: auto;
}

.sub-nav-item {
    padding-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub-nav-item.minimized {
    justify-content: center;
    padding-left: 0;
}

.sub-nav-item.active {
    background-color: var(--primary);
    color: var(--white-prime);
}

.sub-nav-item.active a,
.sub-nav-item.active svg {
    color: var(--white-prime);
}

.sub-nav-item:hover {
    background-color: var(--grey-prime);
}

.sub-nav-item.active:hover {
    background-color: var(--primary);
    color: var(--white-prime);
}

/* Drop Menu User */
.drop-menu-user a {
    transition: background-color 0.3s ease;
}
